$green: #329688;
$light-green: #8bc24b;
$orange: #f68603;
$grey: #464646;
$red: #e81e64;
$blue: #3996f2;
$light-grey: #9e9e9e;
$white: #dbdbdb;
$richtigesWEISS: #FFFFFF;
$unserGRAU: #778899;
$unserROT: #bf0000;
$babypopoBLAU: #2f6cb9;