$mainSize: 24pt;
$secondarySize: 20pt;
$thirdSize: 14pt;
$schriftgroesse: 12pt;

.navbtn {
  -fx-min-height: $mainSize;
  -fx-min-width: $mainSize;
  -fx-max-height: $mainSize;
  -fx-max-width: $mainSize;
}