@import "colors";

#startbuttons {
  -fx-background-color: $blue;
  -fx-text-fill: $white;
  -fx-font-weight: bold;
  -fx-padding: 10 10 10 10;
  -fx-border-radius: 0;
}

#abstand {
  -fx-spacing: 10;
  -fx-padding: 10;
}
